@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
    background: black;
}

button {
    outline: none;
}

.introPage,
.single-player,
.multiple-player {
    position: relative;
    width: 500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
    border: 3px solid #243342;
    background-image: linear-gradient((rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)));
    border-radius: 5px;
    box-shadow: 0 2px 10px #09232a;
    border-radius: 5px;
}

.introPage div {
    display: flex;
    justify-content: space-between;
    margin: 35px 50px;
}

.introPage div button,
.single-player button,
.multiple-player button {
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 5px;
    color: #fff;
}

.introPage button,
.single-player button,
.multiple-player button {
    background: #1b2631;
    opacity: 0.5;
    color: #fff;
}

.introPage button:hover,
.single-player button:hover,
.multiple-player button:hover {
    transform: scale(1.1);
    transition: transform 0.6s;
}

.introPage h1 {
    color: #fff;
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 40px;
}

.introPage p,
.single-player p,
.multiple-player p {
    color: #fff;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}


.single-player button.home,
.multiple-player button.home {
    float: left;
    background-color: transparent;
    border: none;
}


.single-player #category {
    margin-bottom: 25px;
}

.single-player #category1 {
    margin-bottom: 10px;
}

/* Multiple Player Page*/
.multiple-player p {
    margin: 0 15px;
    display: inline-block;
}

.multiple-player input#input {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 20px 0 40px 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    padding-left: 10px;
}

.multiple-player input#input:focus {
    outline: none;
}

.multiple-player input#input::placeholder {
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
}

.multiple-player input#submit {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 38%;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.multiple-player input#submit:hover {
    background-color: #fff;
    color: #243342
}

.multiple-player input#submit:focus {
    outline: none;
}