@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script:wght@700&family=Lato&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #34495e;
    --popup-duration: 0.3s;
}

body {
    background-color: var(--background-color);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0;
}

.container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}

.wrong-letters-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px;
}

.wrong-letters-container span {
    font-size: 24px;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.letter {
    border-bottom: 3px solid #2980b9;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

/* Player popup Window */
.player {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-popup,
.single-player-popup {
    background: #2587a7;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    border-radius: 5px;
    text-align: center;
}

.single-player-popup {
    padding: 20px 100px;
    display: none;
    animation-name: popup-window;
    animation-duration: var(--popup-duration);
}

.player-popup h2,
.single-player-popup h2 {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 30px;
}

.player-popup p,
.single-player-popup p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.player-popup button,
.single-player-popup button {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin: 0 10px 10px;
    font-size: 20px;
    padding: 12px 20px;
    color: #2587a7;
    border-radius: 5px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2989b9;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    border-radius: 5px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 10px;
    font-size: 20px;
    padding: 12px 20px;
    color: #2989b9;
    border-radius: 5px;
}

.popup button:active,
.player-popup button:active,
.single-player-popup button:active {
    transform: scale(0.98);
}

.popup button:focus,
.player-popup button:focus,
.single-player-popup button:focus {
    outline: 0;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    translate: transform 0.5s ease-in-out;
}

.notification-container p {
    margin: 0;
}

.notification-container.show {
    transform: translateY(-50px);
}

@keyframes popup-window {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}